@import '../../styles/config/variables';
@import '../../styles/config/mixins';

.body {
  &.body-showall {
    padding-bottom: 26px;
  }
}
.section-main {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid $gray;
  border-top: 3px solid $green;
  max-width: 320px;
  margin: auto;
  @media (min-width: $screen-sm-min) and (max-width: $screen-md-min), (min-width: $screen-lg-min) {
    max-width: 640px;
  }
}

.header {
  color: $gray;
  text-transform: uppercase;
  margin-bottom: $gutter-a;
  position: relative;
  h1 {
    font-size: 14px;    
  }
  .header-link {
    position: absolute;
    top: -6px;
    right: 0;
    padding: 4px 10px 4px 10px;
    span {
      display: none;
      font-size: 10px;
      vertical-align: middle;
      color: #5A6E6B;
    }
    .icon-people {
      background-image: url(../../static/images/icon-team.png);
      height: 11px;
      width: 13px;
      display: inline-block;
      margin: 0 0px 0px 6px;
    }
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-md-min), (min-width: $screen-lg-min) {
    .header-link {
      span {
        display: inline-block;
      }
      &:hover {
        background-color: $green-light;
      }
    }
  }
  @media (min-width: $screen-lg-min) {
    .header-link {
      &:hover {
        background-color: $green-light;
      }
    }
  }
}

.list {
  .item {
    padding: $gutter-b;
    position: relative;
    vertical-align: top;
    &.item-open {
      padding: 0;
    }
    &:before,
    &:after {
      content: ' ';
      display: table;
      width: 100%;
    }
    .box-image {
      float: left;
      margin: 0 $gutter-b 0 0;
      height: 40px;
      img {
        border-radius: 50%;
        height: 40px;
        width: 40px;
      }
    }
    .box-content {
      height: 40px;
      h4 {
        padding: 0 0 0 0;
      }
      h5 {
        font-weight: 400;
      }
      .asterisk {
        color: $orange;
      }
    }
    &.item-member {
      .box-remove {
        display: none;
        float: left;
        margin: 0 $gutter-b 0 0;
        
      }
      &:hover {
        background-color: $green-light;
        .box-image {
          display: none;
        }
        .box-remove {
          display: block;
        }
      }
    }
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-md-min), (min-width: $screen-lg-min) {
    .item {
      padding: $gutter-a $gutter-b;
      width: 50%;
      display: inline-block;
      &:hover:not(.item-open) {
        background-color: $green-light;
        .add {
          background-color: #fff;
        }
      }
    }
  }
}
.btn-remove {
  background-color: #FFF;
  border: 1px solid transparent;
  color: $orange;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-indent: -9999px;
  position: relative;
  &:before {
    content: '';
    background-color: $orange;
    position: absolute;
    top: 11px;
    left: 18px;
    height: 14px;
    width: 1px;
    transform: rotate(45deg);
  }
  &:after {
    content: '';
    background-color: $orange;
    position: absolute;
    top: 11px;
    right: 18px;
    height: 14px;
    width: 1px;
    transform: rotate(-45deg);
  }
  &:hover {
    border-color: $orange;
  }
}
.button-add {
  cursor: pointer;
  .box-content {
    h4 {
      color: $green;
    }
  } 
  .add {
    font-size: 24px;
    background-color: $green-light;
    border-radius: 50%;
    color: $green;
    display: inline-block;
    height: 40px;
    padding: 10px 0 0 0;
    text-align: center;
    width: 40px;
  }
}
.btn-showall {
  background-color: $green-light;
  font-size: 10px;
  text-transform: uppercase;
  padding: 8px 0;
  position: absolute;
  bottom: -15px;
  width: 100%;
  left: 0;
}
.box-autosuggest {
  display: none;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.2);
  padding: $gutter-a 0 0 0;
  width: 100%;

  .react-autosuggest__input {
    border: none;
    border-bottom: 1px solid $green;
    font-size: 14px;
    color: $green-dark;
    height: 25px;
    width: 94%;
    margin-left: $gutter-b;
    margin-right: $gutter-b;
    margin-bottom: $gutter-a;
  }
  .react-autosuggest__input--open {
    margin-bottom: $gutter-b;
  }
  .react-autosuggest__suggestions-container--open {
    position: relative;
    z-index: 1;
    background: #FFF;
    width: 100%;
    left: 0;
  }
  .react-autosuggest__suggestions-list {
    list-style: none;
    padding: 0;
    margin: 0;
    .react-autosuggest__suggestion {
      .item {
        padding: $gutter-c $gutter-b;
        cursor: pointer;
        .box-content {
          padding: 8px 0 0 0;
          h4 {
            color: $green-dark;
            font-weight: 400;
          }
        }
      }
    }
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-md-min), (min-width: $screen-lg-min) {
    .react-autosuggest__suggestions-list {
      .react-autosuggest__suggestion {
        .item {
          width: 100%;
        }
      }
    }
  }
  @media (min-width: $screen-sm-min ) {
    .react-autosuggest__suggestions-list {
      list-style: none;
      padding: 0;
      margin: 0;
      .react-autosuggest__suggestion {
        // .item {
        //   &:hover {
        //     background-color: $green-light;
        //   }
        // }
      }
    }
  }
}

.close {
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 10px;
  height: 20px;
  width: 20px;
  text-align: center;
  color: rgba($orange, 0.5);
}
.tooltip {
  background-color: #fff;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.2);
  padding: 2px 6px;
  font-size: 10px;
  display: none;
  @media (min-width: $screen-sm-min) and (max-width: $screen-md-min), (min-width: $screen-lg-min) {
    display: block;
  }
}